.footer1 {
    FONT-family: "arial";
    text-align: center;
}

#deconnexion {
    position: absolute;
    right: 25px;
    font-size: 1.2em;
}

.headerheight {
    height: 200px;
    text-align: center;
}

.header {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    font-family: "arial";
}

.borderB {
    border: 1px solid #000;
}

html,
body {
    background: #eee !important;
    width: 100%;
    scroll-behavior: smooth;
}