.center {
    text-align: center;
}

input {
    width: 80%;
}

.colonne {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
}

.bouton {
    position: relative;
    padding-left: 30px;
}