ul {
    text-align: center;
    list-style: none;
}

li {
    font-size: 1.4em;
}

.carre {
    font-family: "arial";
    FONT-size: 16pt;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3px solid #A0A0A0;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    background: #C0C0C0;
}