{% extends 'base.html.twig' %}

{% block title %}Gerer candidature
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/gerer.css">
{% endblock %}

{% block body %}
	<br />

    <div class="container separate">
        <div class="row">
            <div class="col-sm-12 carre">
                <div class="dess">
                    <ul>
                        <h2>Comptes</h2>
                        <li><a>Créer</a></li>
                        <li><a>Modifier</a></li>
                        <li><a>Supprimer</a></li>
                        <li><a>Assigner des droits</a></li>
                        <li><a>Consulter les statistiques</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}