{% extends 'base.html.twig' %}

{% block title %}Gerer candidature
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/gerer.css">
{% endblock %}

{% block body %}
	<br />

    <div class="container separate">
        <div class="row">
            <div class="col-sm-12 carre">
                <div class="dess">
                    <ul>
                        <h2>Candidatures</h2>
                        <li><a>Wish-List</a></li>
                        <li><a>Candidatures</a></li>
                        <li><a>Avancement</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
