{% extends 'base.html.twig' %}

{% block title %}Menu
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="css/menu.css">
{% endblock %}

{% block body %}
    <h1>Bienvenue ! &#x1F600</h1>

	<div class="container separate">
		<div class="row">
			<div class="col-sm-12 col-md-5 col-xl-5 case">
				<div class="dess">
					<span>
						<ul>
							<h2>Comptes</h2>
							<li>
								<a>Rechercher</a>
							</li>
							<li>
								<a>Créer</a>
							</li>
							<li>
								<a>Modifier</a>
							</li>
							<li>
								<a>Supprimer</a>
							</li>
							<li>
								<a>Assigner des droits</a>
							</li>
							<li>
								<a>Consulter les statistiques</a>
							</li>
						</ul>
					</span>
				</div>
			</div>
			<div class="col-sm-4 col-md-1 col-xl-1 case masquer"></div>
			<div class="col-sm-12 col-md-5 col-xl-5 case">

				<ul>
					<h2>Entreprises</h2>
					<li>
						<a>Rechercher</a>
					</li>
					<li>
						<a>Créer</a>
					</li>
					<li>
						<a>Modifier</a>
					</li>
					<li>
						<a>Supprimer</a>
					</li>
					<li>
						<a>Evaluer</a>
					</li>
					<li>
						<a>Consulter les statistiques</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-5 col-xl-5 case">

				<ul>
					<h2>Candidatures</h2>
					<li>
						<a>Wish-List</a>
					</li>
					<li>
						<a>Candidatures</a>
					</li>
					<li>
						<a>Avancement</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-4 col-md-1 col-xl-1 case masquer"></div>
			<div class="col-sm-12 col-md-5 col-xl-5 case">

				<ul>
					<h2>Offres</h2>
					<li>
						<a>Rechercher</a>
					</li>
					<li>
						<a>Créer</a>
					</li>
					<li>
						<a>Modifier</a>
					</li>
					<li>
						<a>Supprimer</a>
					</li>
					<li>
						<a>Consulter les statistiques</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
{% endblock %}
